<div class="report-form" #reportForm>
  <section class="report-form__image-calc">
    <input class="report-form__image-calc-input"
           type="file"
           #fileInput>
    <img class="report-form__image-calc-image"
         #image/>

    <form [formGroup]="priceForm">
      <div class="report-form__image-calc-field">
        <label class="label" for="price">
          Розница
          <input class="input"
                 formControlName="price"
                 autocomplete="off"
                 type="number"
                 id="price">
        </label>
      </div>
      <div class="report-form__image-calc-field">
        <label class="label" for="prepaid">
          Предоплата
          <input class="input"
                 formControlName="prepaid"
                 autocomplete="off"
                 type="number"
                 id="prepaid">
        </label>
      </div>

      <div class="report-form__image-calc-field">
        <label class="label" for="rest" [ngStyle]="{'color': result === 0 ? 'lightgreen' : 'red'}">
          НАЛОЖКА
          <input class="input"
                 [ngStyle]="{'border-width': '3px', 'border-color': result === 0 ? 'lightgreen' : 'red'}"
                 [(ngModel)]="result"
                 [ngModelOptions]="{standalone: true}"
                 autocomplete="off"
                 type="number"
                 id="rest">
        </label>
      </div>
    </form>
    <button class="report-form__image-calc-button"
            mat-mini-fab
            (click)="makePrintScreen()">
      <mat-icon></mat-icon>
    </button>
  </section>
  <section class="report-form__info">
    <label class="report-form__info-label" for="order-date">
      Дата заказа
    </label>
    <input class="report-form__info-input"
           autocomplete="off"
           type="date"
           id="order-date">

    <label class="report-form__info-label" for="model">
      Модель
    </label>
    <textarea class="report-form__info-input"
              autocomplete="off"
              rows="3"
              id="model">
    </textarea>

    <label class="report-form__info-label" for="color">
      Цвет
    </label>
    <textarea class="report-form__info-input"
           autocomplete="off"
           rows="1"
           id="color">
    </textarea>

    <label class="report-form__info-label" for="size">
      Размер
    </label>
    <textarea class="report-form__info-input"
           autocomplete="off"
           rows="1"
           id="size">
    </textarea>
    <label class="report-form__info-label" for="sender-data">
      Данные отправителя
    </label>
    <textarea class="report-form__info-input"
              autocomplete="off"
              rows="4"
              id="sender-data">
    </textarea>

    <label class="report-form__info-label" for="nickname">
      Ник
    </label>
    <textarea class="report-form__info-input"
           autocomplete="off"
           rows="1"
           id="nickname">
    </textarea>
  </section>
</div>
