
<div class="review" #reportRef>
  <div class="review__date">{{formData?.date | date}}</div>

  <ng-container *ngFor="let item of formData?.items">
    <r-preview-item [data]="item"></r-preview-item>
  </ng-container>

  <label class="review__field"
         for="description">
    Данные получателя:
    <span id="description">{{formData?.description}}</span>
  </label>
  <label class="review__field"
         for="nickname">
    Ник:
    <span id="nickname">{{formData?.nickname}}</span>
  </label>

  <label class="review__field-price "
         for="price">
    Розница:
    <span id="price">{{formData?.totalPrice}}</span>
  </label>
  <label class="review__field-price "
         for="prepaid">
    Предоплата:
    <span id="prepaid">{{formData?.prepaid}}</span>
  </label>
  <label class="review__field-price result"
         [ngStyle]="{'color': formData?.rest === 0 ? 'green' : 'red', 'font-size': '1em'}"
         for="rest">
    НАЛОЖКА:
    <span id="rest" [ngStyle]="{'color': formData?.rest === 0 ? 'green' : 'red'}">{{formData?.rest}}</span>
  </label>
</div>

<footer>
  <button mat-raised-button
          color="primary"
          (click)="return()">
    <mat-icon aria-hidden="false" aria-label="Example home icon">chevron_left</mat-icon>
  </button>

  <button mat-raised-button
          (click)="takeAPhoto()"
          color="primary">
    <mat-icon aria-hidden="false" aria-label="Example home icon">camera_enhance</mat-icon>
  </button>
</footer>
