:host {
  display: block;
  width: 360px;

  .review {
    width: 360px;
    background-color: white;
    display: grid;
    grid-template-columns: 140px 210px;
    grid-gap: 10px;
    padding: 5px;
    margin: 0 auto;
    font-size: 0.9em;

    &__field {
      display: block;
      margin-bottom: 10px;
      font-family: serif;
      font-weight: bold;
      color: #909090;

      span {
        margin-top: 5px;
        display: block;
        color: black;
        font-weight: normal;
      }

      &-price {
        font-family: serif;
        font-weight: bold;
        color: #909090;
        display: grid;
        grid-gap: 5px;
        grid-template-columns: 1fr 2fr;
        margin-bottom: 5px !important;

        span {
          color: black;
          font-weight: normal;
        }
        &.result {
          align-items: center;
          font-size: 1.3em;
          font-weight: bold !important;
          span {
            font-size: 1.3em;
          }
        }
      }
    }
    &__left {
      grid-row: 2;
      grid-column: 1;
      max-width: 140px;
      img {
        max-width: 140px;
        margin-bottom: 15px;
      }
    }

    &__right {
      background-color: white;
      grid-row: 2;
      grid-column: 2;
      max-width: 220px;
    }
  }

  footer {
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
    padding-bottom: 15px;
  }
}
