:host {
  display: block;

  .review {
    background-color: white;
    padding: 5px;
    margin: 0 auto;
    font-size: 0.9em;

    &-date {
      margin: 0 auto;
      text-align: center;
    }

    &__field {
      display: block;
      margin-bottom: 10px;
      font-family: serif;
      font-weight: bold;
      color: #909090;

      span {
        margin-top: 5px;
        display: block;
        color: black;
        font-weight: normal;
      }

      &-price {
        font-family: serif;
        font-weight: bold;
        color: #909090;
        display: grid;
        grid-gap: 5px;
        grid-template-columns: 1fr 2fr;
        margin-bottom: 5px !important;

        span {
          color: black;
          font-weight: normal;
        }
        &.result {
          align-items: center;
          font-size: 1.3em;
          font-weight: bold !important;
          span {
            font-size: 1.3em;
          }
        }
      }
    }
  }

  footer {
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
    padding-bottom: 15px;
  }
}
